.home-img {
  border-radius: 2rem;
  border: px solid whitesmoke;
  object-fit: cover;
  width: 85%;
}

.title {
    font-size: 2rem;
}

.post-description {
    font-size: 1rem;
}

.home-post-info {
  margin-left: 0.5rem;
}

.century {
  font-family: "Century 751 W01 Roman";
}
