.home-img {
  border-radius: 2rem;
  border: 1px solid whitesmoke;
  object-fit: cover;
  width: 55%;
}

.title {
  font-size: 2rem;
}

.post-description {
  font-size: 1rem;
}

.home-post-info {
  margin-left: 0.5rem;
}

.century {
  font-family: "Century 751 W01 Roman";
}

.category {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.15rem;
  padding-bottom: 0.15rem;
  background-color: rgba(13, 110, 253, 0.1);
  font-size: 12px;
}

.subcategory {
  padding-left: 1rem;
  padding-right: 1rem;
    padding-top: 0.15rem;
  padding-bottom: 0.15rem;
  background-color: rgba(108, 117, 125, 0.1);
  font-size: 12px;
}

.av-rat {
  background-color: #c8e6d5;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.15rem;
  padding-bottom: 0.15rem;
}

.circle-overlay {
  position: absolute;
  top: 20px;
  left: 20px;
}

.circle-overlayy {
  position: absolute;
  top: 55px;
  left: 20px;
}

.circle-overlayyy {
  position: absolute;
  top: 90px;
  left: 20px;
}

.circle-overlayyyy {
  position: absolute;
  top: 230px;
  right: 20px;
}


@media (max-width: 570px) {

  .home-img {
    width: 100%;
  }
}