<div class="row d-flex justify-content-md-center justify-content-center">
  <app-header></app-header>

  <p-carousel
    [value]="mostRatedPostByCategory"
    [numVisible]="3"
    [numScroll]="3"
    [circular]="false"
    [responsiveOptions]="responsiveOptions"
  >
    <ng-template let-mostRatedPost #item>
      <div class="row" >
        <div
          class="col-12 col-xl-6 col-md-12 d-flex justify-content-center align-items-center mt-3"
        >
          <img class="h-100 home-img" [src]="mostRatedPost.img" alt="" />
        </div>
        <div class="col-xl-6 col-md-10 col-10 mt-3">
          <p class="text-primary mb-3">{{ mostRatedPost.categoria }}</p>
          <b class="century title">{{ mostRatedPost.titulo }}</b>
          <p class="text-secondary post-description mt-3">
            {{ mostRatedPost.descripcion }}
          </p>
          <p-rating
            [readonly]="true"
            [(ngModel)]="mostRatedPost.avgRating"
            name="avgRating"
            pTooltip="{{
              mostRatedPost.avgRating
                ? 'Average Rating: ' + (+mostRatedPost.avgRating).toFixed(2)
                : 'Sin calificación'
            }}"
            tooltipPosition="bottom"
          />
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>
<app-posts-display id="seccion"></app-posts-display>
