<div class="w-100 bg-white card pb-4">
  <div class="w-100 d-flex flex-column justify-content-center align-items-center">
    <a href="" [routerLink]="['/post', post.id]" class="w-100">
      <img class="w-100" src="{{ post.img }}" alt="" />
    </a>
    <div class="w-75">
      <div class="d-flex justify-content-between flex-column mb-3 mt-xl-2 mt-md-4 mt-sm-4 mt-3">
        <span class="mt-2 category d-flex rounded w-50">{{ post?.categoria }}</span>

        <span class="mt-2 w-75 subcategory d-flex rounded">{{
          post?.subcategoria
          }}</span>
      </div>
      <strong class="century post-title" style="font-size: 1.25rem;">{{ post.titulo }}</strong>
      <div class="d-flex mt-2">
        <!--  <div class="d-flex align-items-center post-info">
          <mat-icon class="m-1">calendar_today</mat-icon>
          <i class="mt-1" style="font-size: 14px">{{
            post.createdAt | date : "MMMM d, y"
          }}</i>
        </div>
        <div class="d-flex align-items-center post-info">
          <mat-icon>update</mat-icon>
          <span>{{ post.updatedAt | date : "MMM d, y" }}</span>
        </div> 
      </div>-->
        <p class=" text-secondary description">{{ post.descripcion }}</p>
      </div>
      <div class="d-flex justify-content-end">
        <form class="rounded w-75 av-rat">
          <p-rating [readonly]="true" [(ngModel)]="post.avgRating" name="avgRating" pTooltip="{{
          post.avgRating
            ? 'Average Rating: ' + (+post.avgRating).toFixed(2)
            : 'Sin calificación'
        }}" tooltipPosition="bottom" />
        </form>
      </div>
    </div>
  </div>