h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 2.5rem;
  font-weight: 600;
}

h3 {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: #6c757d;
}

.av-rat {
  background-color: #c8e6d5;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.subcategory {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.15rem;
  padding-bottom: 0.15rem;
  background-color: rgba(108, 117, 125, 0.1);
  font-size: 12px;
}

.skeleton-card {
  position: relative;
  width: fit-content;
}

.circle-overlay {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #a2a2a2;
}

.circle-overlayy {
  position: absolute;
  top: 55px;
  left: 20px;
}

.circle-overlayyy {
  position: absolute;
  top: 90px;
  left: 20px;
}

.circle-overlayyyy {
  position: absolute;
  top: 230px;
  right: 20px;
}


* {
  word-wrap: break-word;
  /* Rompe palabras largas */
  overflow-wrap: break-word;
  /* Alternativa para navegadores modernos */
}

h3:hover {
  color: black;
  cursor: pointer;
}

.date {
  font-size: 1rem;
}

.share {
  font-size: 1.25rem;
  margin-right: 0.75rem;
}

.share-img {
  width: 1.25rem;
  margin: 0.25rem;
}

.century {
  font-family: "Century 751 W01 Roman";
  color: black;
}

.share-img-cont {
  background-color: #e5f7fd;
  padding: 0.25rem;
  border-radius: 8rem;
  margin-right: 0.75rem;
}

.post-title {
  font-size: 1.75rem;
}

.post-img {
  border-radius: 0 2rem 0 0;
  height: 27rem;
}

.side {
  animation: slideInFromLeft 0.8s ease-out;
}

.left-titles {
  font-size: 2rem;
}

.av-rat {
  font-size: 12px;
}

.post-side {
  border-radius: 0 5rem 0 0;
  animation: slideInFromRight 1s ease-out;
  padding-bottom: 3rem;
  box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.085);
}

.info {
  width: 90%;
}

.cont {
  margin-top: 5rem;
}

.post-content {
  font-size: 1rem;
}

.category {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.15rem;
  padding-bottom: 0.15rem;
  background-color: rgba(13, 110, 253, 0.1);
  font-size: 12px;
}

.sidepost {
  animation: slideInFromLeft 0.9s ease-out forwards;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@media (max-width: 576px) {
  .post-img {
    height: 18rem;
  }
}
