h2 {
  font-size: 2.5rem;
  font-weight: 600;
}

img {
  height: 12rem;
}

div {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.category {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.15rem;
  padding-bottom: 0.15rem;
  background-color: rgba(13, 110, 253, 0.1);
  font-size: 12px;
}

.subcategory {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.15rem;
  padding-bottom: 0.15rem;
  background-color: rgba(108, 117, 125, 0.1);
  font-size: 12px;
}

.avg-rat {
  background-color: #c8e6d5;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.15rem;
  padding-bottom: 0.15rem;
  display: flex;
  justify-content: center;
}

.century {
  font-family: "Century 751 W01 Roman";
}

.post-title {
  font-size: 20px;
}

@media (max-width: 1200px) {
  img {
    height: 20rem;
  }
}

@media (max-width: 576px) {
  img {
    height: 13rem;
  }
}