h2 {
  font-size: 2.5rem;
  font-weight: 600;
}

div {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.century {
  font-family: "Century 751 W01 Roman";
}

.post-title {
  font-size: 20px;
}
