@use '@angular/material' as mat;

@import "primeicons/primeicons.css";

* {
  font-family: "URW Geometric", sans-serif;
}

html,
body {
  min-height: 100vh;
}

body {
  margin: 0;
}

.post-content img {
  max-width: 100% !important;
  height: auto !important;
  display: block;
}

.category,
.subcategory,
.avg-rat {
  font-weight: 500;
}

.category {
  border: 1px solid rgba(13, 109, 253, 0.016);
  border-bottom: none;
  border-right: none;
  color: rgba(20, 111, 248, 0.462);
}

.subcategory {
  border: 1px solid rgba(184, 177, 183, 0.074);
  border-top: none;
  border-left: none;
  color: rgba(150, 144, 149, 0.64);
}

.av-rat {
  border: 1px solid #a2e6bebe;
  border-top: none;
  border-left: none;
}

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  @include mat.progress-spinner-overrides((
    active-indicator-color: rgba(13, 110, 253, 0.1),
  ));
}
